<div class="wrapper">

<ng-container *ngIf="projectKeys?.length">


  <ng-container *ngFor="let projectKey of projectKeys?.reverse(); let i =index; trackBy: trackByIndex"  >
    <div *ngIf="showLeft(i)" class="about received">

    <div class="about__left ">
      <h3 class="about__left__title">{{projects[projectKey]?.title}}</h3>
      <p class="about__left__about-us">
        <span class="about__left__about-us__part-1">
          {{projects[projectKey]?.text1}}
        </span>
        <span class="about__left__about-us__part-2">
          {{projects[projectKey]?.text2}}
        </span>
      </p>
    </div>
    <div class="about__right animated-2">

      <app-image  class="about__right__img" [src]="projects[projectKey]?.imageUrl" ></app-image>


    </div>
  </div>


  <div *ngIf="showRight(i)" class="about-2 received">
    <div class="about-2__left animated-2">
      <app-image class="about-2__left-img" [className]="'about-2__left-img'" [src]="projects[projectKey]?.imageUrl" ></app-image>

    </div>
    <div class="about-2__right about-2__right__received" >
      <h3 class="about__left__title about-2__right__received__title">{{projects[projectKey]?.title}} </h3>
      <p class="about-2__right__about-us">
        <span class="about-2__right__about-us__part-1">
          {{projects[projectKey]?.text1}}</span
        >
        <span class="about-2__right__about-us__part-2">
          {{projects[projectKey]?.text2}}</span
        >
      </p>
    </div>
  </div>
  </ng-container>



</ng-container>






  <div class="about">


    <div class="about__left">
      <h3 class="about__left__title">FEEL</h3>
      <p class="about__left__about-us">
        <span class="about__left__about-us__part-1">
          Food and Exercise for a healthy Life (FEEL) is an Erasmus+ Youth
          Exchange project organized in Paphos, Cyprus, March 2020.
        </span>
        <span class="about__left__about-us__part-2">
          60 volunteers participated from 11 countries such as Cyprus, Italy,
          Lithuania, Romania, Greece, Serbia, Ukraine, Georgia, Albania, Morocco
          and Armenia.
        </span>
      </p>
    </div>
    <div class="about__right">
      <img
        src="./assets/projects/project-11.jpg"
        alt="about-img"
        class="about__right__img"
      />
    </div>
  </div>

  <div class="about-2">
    <div class="about-2__left">
      <img
        src="./assets/projects/project-2.jpg"
        alt="about-img"
        class="about-2__left-img"
      />
    </div>
    <div class="about-2__right">
      <p class="about-2__right__about-us">
        <span class="about-2__right__about-us__part-1">
          The project promoted a healthy lifestyle among young people. The
          project helped juniors discover their healthy path and exchange
          experiences.</span
        >
        <span class="about-2__right__about-us__part-2">
          Participants had a great experience. They have got new energy and
          motivation to move more and be healthy..</span
        >
      </p>
    </div>
  </div>

  <!-- 3 -->
  <div class="about">
    <div class="about__left about__left--tsalka">
      <h3 class="about__left__title">Tsalka Educational Meeting</h3>
      <p class="about__left__about-us">
        <span class="about__left__about-us__part-1">
          A productive meeting was organized by the Tsalka Local Action Group
          for promoting Erasmus plus and ESC activities through the local
          youngsters.
        </span>
        <span class="about__left__about-us__part-2">
          The majority of the participants attended the meeting for the first
          time with the foreign volunteers.
        </span>
      </p>
    </div>
    <div class="about__right about__right--tsalka">
      <img
        src="./assets/projects/project-3.jpg"
        alt="about-img"
        class="about__right__img"
      />
    </div>
  </div>
  <!-- 3 END -->

  <!-- 4 -->
  <div class="about-2 about-2--last">
    <div class="about-2__left">
      <img
        src="./assets/projects/project-4.jpg"
        alt="about-img"
        class="about-2__left-img"
      />
    </div>
    <div class="about-2__right">
      <p class="about-2__right__about-us">
        Long term ESC volunteers from Germany, Poland and Estonia have prepared
        presentations of their countries and traditions, which has made a great
        impression on the audience.
      </p>
    </div>
  </div>

  <!-- 4END -->

</div>
