.item {
  max-width: 300px;
  height: 480px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  box-shadow: 15px 15px 15px rgba(99, 126, 236, 0.2);
  &__title {
    font-size: 25px;
    font-weight: bold;
    max-width: 160px;
    color: #52565e;
  }
  &__img {
  }
  &__text {
    line-height: 25px;
    text-align: justify;
    padding: 0 20px;
    color: #52565e;
  }
  &__btn {
    background-color: #637eec;
    width: 130px;
    height: 35px;
    border: 1px solid #637eec;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
}
