.item {
  max-width: 310px;
  height: 440px;
  min-width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  box-shadow: 15px 15px 15px rgba(99, 126, 236, 0.2);
  &__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 750px) {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #637eec;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: none;
    padding: 15px;
  }
  &--desktop {
    @media screen and (max-width: 750px) {
      display: none;
    }
  }
  &--mobile {
    @media screen and (min-width: 750px) {
      display: none;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
  }
  &__title {
    font-size: 22px;
    font-weight: bold;
    max-width: 160px;
    color: #52565e;
    text-align: center;
    align-self: center;
    &--mob {
      max-width: 100%;
      font-size: 20px;
      color: #000000;
      margin-bottom: 10px;
      @media screen and (max-width: 520px) {
        font-size: 14px;
      }
    }
  }
  &__img {
    width: 54px;
  }
  &__text {
    line-height: 25px;
    padding: 0 30px;
    color: #52565e;
    font-size: 18px;
    &--mob {
      text-align: justify;
      @media screen and (max-width: 620px) {
        font-size: 12px;
        line-height: 15px;
        padding: 0 5px;
        color: #000000;
      }
    }
    &--desktop {
      margin-top: 10px;
    }
  }
  &__btn {
    background-color: #637eec;
    width: 130px;
    height: 35px;
    border: 1px solid #637eec;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    &--mob {
      display: block;
      display: none;
    }
  }
}
