.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  &__container {
    padding: 0 50px;
    padding-top: 10px;
  }
}

.nav {
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__logo {
  }

  &__list {
    display: flex;
    max-width: 450px;
    width: 100%;
    justify-content: space-between;

    &__item {
      &__link {
        padding-bottom: 5px;
        position: relative;
        &:hover {
          &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 1.5px;
            background-color: #f48823;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        color: #52565e;

        &--active {
        }
      }
    }
  }
  &__icons {
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
  }
}
