.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 0;
  &__container {
    padding: 0 50px;
  }
}

.nav {
  display: flex;

  width: 100%;
  justify-content: space-between;
  align-items: center;
  &__burger{
    @media only screen and (min-width: 1050px){
      display: none;
       }
  }
  &__logo {
    @media only screen and (max-width: 750px){
      display: none;
      }
      &--mobile{
        @media only screen and (min-width: 750px){
          display: none;
          }
      }
  }

  &__list {
    display: flex;
    max-width: 600px;
    width: 100%;
    justify-content: space-between;
     @media only screen and (max-width: 1050px){
     display: none;
     }

    &__item {
      &__link {
        padding: 5px 18px;

        position: relative;
        font-weight: bold;

        &:hover {
          &::after {
            position: absolute;
            content: "";
            width: 40px;
            height: 1.5px;
            background-color: #f48823;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        color: #52565e;

        &--active {
          background-color: #7d86e9;
          border-radius: 4px;
          color: #fff;
          &:hover {
            &::after {
              display: none;
            }
          }
        }
      }
    }
  }
  &__icons {
    display: flex;
    max-width: 100px;
    width: 100%;
    justify-content: space-between;
    @media only screen and (max-width: 650px){
      display: none;
      }
  }
}
