<footer class="footer">
  <img class="footer__img" src="./assets/logo.svg" alt="logo" />
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list__li">
        <a routerLink="" class="nav__list__li__link">Home</a>
      </li>
      <li class="nav__list__li">
        <a routerLink="about" class="nav__list__li__link">About Us</a>
      </li>
      <li class="nav__list__li">
        <a routerLink="projects" class="nav__list__li__link">Our Projects</a>
      </li>
      <li class="nav__list__li">
        <a href="#" class="nav__list__li__link">Youth Room</a>
      </li>
      <li class="nav__list__li">
        <a href="#" class="nav__list__li__link">Events</a>
      </li>
    </ul>
  </nav>
  <ul class="footer__contact">
    <li class="footer__contact__title">Contact us</li>
    <li class="footer__contact__email">
      Email: <span> altereduacademy@gmail.com</span>
    </li>
    <li class="footer__contact__tel">
      Tel.: <span> (+996) 551 85 28 55</span>
    </li>
    <li class="footer__contact__follow">Follow us</li>
    <div class="footer__contact__icons">
      <a href="#"> <img src="./assets/icons8-whatsapp.svg" alt="whatap" /></a>
      <a target="_blank" href="https://www.facebook.com/Altereduacademy">
        <img src="./assets/icons8-facebook.svg" alt="facebook"
      /></a>
      <a href="#">
        <img src="./assets/icons8-instagram.svg" alt="instagram"
      /></a>
    </div>
  </ul>
  <img class="footer__img" src="./assets/footer-icon.svg" alt="right__icon" />
</footer>
