.wrapper {
  margin-top: 100px;
  position: relative;
}

.review {
  &__title {
    font-size: 30px;
    color: #52565e;
    text-align: center;
    font-weight: bold;
    @media only screen and (max-width: 550px){
      font-size: 22px;
    }
  }
  &__parent {
    position: relative;
    max-width: 500px;
    margin: auto;
  }
  &__icons {
    display: flex;
    justify-content: center;
    position: relative;


    max-width: 480px;

   overflow: hidden;
    height: 500px;

    &__view {
      background-color: red;
    }
    &__left {
      position: absolute;
      left: 0;
      top: 0;
      @media only screen and (max-width: 850px){
        display: none;
                }
    }
    &__right {
      position: absolute;
      right: 0;
      top: 0;
      @media only screen and (max-width: 850px){
        display: none;
                }
    }
  }
}
.reviewers {
  position: absolute;
  transition: transform 0.6s ease-in-out;
}

.review__slider__main__left {
  position: absolute;
  left: -100px;
  top: 335px;
  cursor: pointer;
  z-index: 30;
  @media only screen and (max-width: 750px){
   top: 130px;
   left: 30px;
            }

    @media only screen and (max-width: 621px){
         width: 40px;
         left: -30px;
      }
}
.review__slider__main__right {
  position: absolute;
  right: -80px;
  top: 335px;
  cursor: pointer;
  z-index: 30;
  @media only screen and (max-width: 750px){
    top: 130px;
    right: 30px;
       }
   @media only screen and (max-width: 621px){
   width: 40px;
   right: -30px;
   }
}
