.wrapper {
  padding: 0 100px;
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  // background-color: red;
}

.about {
  display: flex;

  justify-content: space-between;
  &__left {
    flex: 1;
    padding-right: 50px;
    &__title {
      font-size: 24px;
      color: #037ef3;
      font-weight: bold;
    }
    &__about-us {
      margin-top: 100px;
      max-width: 450px;
      font-size: 22px;
      color: #52565e;
      line-height: 30px;
      text-align: left;
    }
  }

  &__right {
    flex: 1;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
.about__2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

  &__right {
    &__about-us {
      margin-left: 30px;
    }
  }
  &__left {
    flex: 1;

    &__about-us {
      margin-top: 100px;
      max-width: 500px;
      font-size: 22px;
      color: #52565e;
      line-height: 30px;
      text-align: left;
    }
  }

  &__right {
    flex: 1;
    &__img {
      width: 100%;
      height: 100%;
    }
  }
}
