<div class="wrapper">
  <div class="about">
    <div class="about__left">
      <h3 class="about__left__title">Who we are</h3>
      <p class="about__left__about-us">
        Alternative Education Academy (AEA) is a youth NGO supporting local
        youngsters to become active and responsible citizens. It is in the East
        part of Georgia. The organization pursues multiple program directions to
        achieve its mission.
      </p>
    </div>
    <div class="about__right">
      <img
        src="./assets/about/about-1.jpg"
        alt="about-img"
        class="about__right__img"
      />
    </div>
  </div>
  <div class="about__2">
    <div class="about__2__left">
      <img
        src="./assets/about/about-2.jpg"
        alt="about-img"
        class="about__2__right__img"
      />
    </div>
    <div class="about__2__right">
      <p class="about__2__left__about-us about__2__right__about-us">
        Our mission is to support local juniors with fewer opportunities and IDP
        kids through various exercises such as after school non-formal
        educational activities. Using the non-formal methodology, we keep a
        positive spirit in the youth and volunteering field.
      </p>
    </div>
  </div>
  <div class="about__2">
    <div class="about__2__left">
      <p class="about__2__left__about-us">
        AEA promotes European Citizenship and intercultural learning among
        Georgian youngsters. We want to support cultural cooperation between the
        EU and Georgia and promote its fundamental principles. The concepts such
        as respect the national identities and culture, freedom of expression,
        solidarity.
      </p>
    </div>
    <div class="about__2__right">
      <img
        src="./assets/about/about-3.jpg"
        alt="about-img"
        class="about__3__right__img"
      />
    </div>
  </div>
</div>
