.wrapper {
  padding: 0 50px;
  margin: 150px 0;
  display: flex;
  flex-direction: column;
}

.about {
  display: flex;
  justify-content: space-between;
  &__left {
    flex: 1;
    &__title {
      font-size: 24px;
      color: #037ef3;
      font-weight: bold;
    }
    &__about-us {
      margin-top: 100px;
      max-width: 460px;
      font-size: 22px;
      color: #52565e;
      line-height: 30px;
      text-align: justify;
    }
  }

  &__right {
    flex: 1;
  }
}
.about__2 {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  &__left {
    flex: 1;

    &__about-us {
      margin-top: 100px;
      max-width: 500px;
      font-size: 22px;
      color: #52565e;
      line-height: 30px;
      text-align: justify;
    }
  }

  &__right {
    flex: 1;
  }
}
