.wrapper {
  margin-top: 150px;
  &__title {
    text-align: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #52565e;
    margin-bottom: 50px;
  }
}
.video {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__description {
    font-weight: bold;
    text-align: center;
    color: #52565e;
    text-align: justify;
    margin-bottom: 30px;
    flex: 40%;
    padding: 0 50px;
    max-width: 300px;
    line-height: 25px;
    padding-left: 0;
  }
  &__vid {
    flex: 55%;
  }
}
