<div class="activities">
  <!-- <div class="activities__rect__parrent">
    <div class="activities__space-rect"></div>
  </div> -->
  <div class="activities__items">
    <app-what-we-do-item
      [text]="
        ' Organizing public campaigns such as eco-friendly activities with local and international youth'
      "
      [title]="'Youth Involvement'"
      [src]="'./assets/1.svg'"
    ></app-what-we-do-item>
    <app-what-we-do-item
      [text]="
        ' AEA is involved in Service Sivique volunteering program supported by the French government'
      "
      [title]="'Volunteering Opportunities'"
      [src]="'./assets/2.svg'"
    ></app-what-we-do-item>
    <app-what-we-do-item
      [text]="
        ' Indoor and outdoor activities to support  non-formal education in human rights, sports, arts & culture'
      "
      [title]="'Educational Activities'"
      [src]="'./assets/3.svg'"
    ></app-what-we-do-item>
  </div>
</div>
