<div class="wrapper">
  <div class="projects">
    <div class="projects__left">
      <div class="projects__left__gray">
        <h3 class="projects__title">FEEL</h3>
        <p class="projects__description">
          Food and ExercisE for a healthy Life (FEEL) is an Erasmus+ Youth
          Exchange project organized in Paphos, Cyprus, March 2020.
        </p>
      </div>
      <div class="projects__description__2">
        <p>
          60 volunteers participated from 11 countries such as Cyprus, Italy,
          Lithuania, Romania, Greece, Serbia, Ukraine, Georgia, Albania, Morocco
          and Armenia.
        </p>
        <img
          class="projects__description__img"
          src="./assets/projects/project-2.jpg"
          alt=""
        />
      </div>
    </div>
    <div class="projects__right">
      <img
        src="./assets/projects/project-1.jpg"
        alt="participants"
        class="projects__right__img"
      />
      <div class="projects__right__text">
        <p class="Projects__right__text__p">
          The project promoted a healthy lifestyle among young people. The
          project helped juniors discover their healthy path and exchange
          experiences.
        </p>
        <p class="projects__right__text__description">
          Participants had a great experience. They have got new energy and
          motivation to move more and be healthy.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper__2">
  <div class="projects-2">
    <h3 class="projects__title">Tsalka Educational Meeting</h3>
    <p class="projects-2__description">
      A productive meeting was organized by the Tsalka Local Action Group for
      promoting Erasmus plus and ESC activities through the local youngsters.
    </p>
    <img
      src="./assets/projects/project-3.jpg"
      alt="img"
      class="projects-2__img"
    />
    <img
      src="./assets/projects/project-4.jpg"
      alt="img"
      class="projects-2__img__2"
    />
    <div class="projects-2__descriptions">
      <p>
        Long term ESC volunteers from Germany, Poland and Estonia have prepared
        presentations of their countries and traditions, which has made a great
        impression on the audience.
      </p>
      <p class="projects-2__descriptions__second">
        The majority of the participants attended the meeting for the first time
        with the foreign volunteers.
      </p>
    </div>
  </div>
</div>
