<div class="wrapper">
  <div class="projects">
    <div class="projects__left">
      <h3 class="projects__title">Title of the project</h3>
      <p class="projects__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        provident fugit tempora sunt a aliquam sit veritatis voluptatibus illum
        maiores quam impedit ad, fuga recusandae harum! Facilis recusandae
        officiis fugiat quis, id amet error voluptates magnam itaque quae
        repudiandae animi sequi est quod cumque eum culpa, voluptatum sapiente!
        Omnis mollitia sed laudantium sequi voluptates, voluptatum quae
        distinctio. Deserunt, natus doloribus.
      </p>
    </div>
    <div class="projects__right">
      <img
        src="./assets/projects/project-1.jpg"
        alt="participants"
        class="projects__img"
      />
    </div>
  </div>
  <div class="projects projects__icons">
    <img src="./assets/projects/icon-1.svg" alt="" class="projects__icons__1" />
    <img src="./assets/projects/icon-2.svg" alt="" class="projects__icons__2" />

    <div class="projects__left">
      <img
        src="./assets/projects/project-2.jpg"
        alt="participants"
        class="projects__img"
      />
    </div>
    <div class="projects__right">
      <h3 class="projects__title">Title of the project</h3>
      <p class="projects__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        provident fugit tempora sunt a aliquam sit veritatis voluptatibus illum
        maiores quam impedit ad, fuga recusandae harum! Facilis recusandae
        officiis fugiat quis, id amet error voluptates magnam itaque quae
        repudiandae animi sequi est quod cumque eum culpa, voluptatum sapiente!
        Omnis mollitia sed laudantium sequi voluptates, voluptatum quae
        distinctio. Deserunt, natus doloribus.
      </p>
    </div>
  </div>
  <div class="projects">
    <div class="projects__left">
      <h3 class="projects__title">Title of the project</h3>
      <p class="projects__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
        provident fugit tempora sunt a aliquam sit veritatis voluptatibus illum
        maiores quam impedit ad, fuga recusandae harum! Facilis recusandae
        officiis fugiat quis, id amet error voluptates magnam itaque quae
        repudiandae animi sequi est quod cumque eum culpa, voluptatum sapiente!
        Omnis mollitia sed laudantium sequi voluptates, voluptatum quae
        distinctio. Deserunt, natus doloribus.
      </p>
    </div>
    <div class="projects__right">
      <img
        src="./assets/projects/project-1.jpg"
        alt="participants"
        class="projects__img"
      />
    </div>
  </div>
</div>
