<div class="review">
  <div class="review__slider">
    <div class="img__wrapper">
      <img [src]="src" alt="habib" class="review__slider__img" />
    </div>
    <span class="review__slider__reviewer">{{ name }}</span>
    <div class="review__slider__main">
      <div class="review__slider__main__review">
        <p class="review__slider__main__review__text">
          "It was amazing experience for me, Thanks to the AEA for this
          opportunity"
        </p>
      </div>
    </div>
  </div>
</div>
