<div class="wrapper">
  <div class="project">
    <div class="project__info">
      <h4 class="project__info__title">Project (feel)</h4>
      <p class="project__info__description">
        In the framework of the Erasmus+ Youth Exchange program, a project
        initiated a healthy lifestyle. The activity helped juniors discover
        their healthy path and exchange experiences. The project held in Paphos,
        Cyprus, in March 2020.
      </p>
    </div>
    <div class="project__picture">
      <img
        src="./assets/projects-1.jpg"
        alt="project-img"
        class="project__picture__img"
      />
    </div>
  </div>
  <div class="project__icons">
    <img src="./assets/birthday-1.svg" alt="icons" />
  </div>
</div>
