.activities {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  width: 100%;
  @media only screen and (max-width: 750px){
    margin-top: 50px;
        }
  &__rect__parrent {
    display: flex;
    justify-content: flex-end;
  }
  &__space-rect {
    background-color: #e1e1e1;
    width: 100%;
    max-width: 150px;
    height: 200px;
    justify-self: center;
    margin-right: 130px;
  }
  &__items {
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (min-width: 1750px) {
      justify-content: space-around;
    }
    @media screen and (max-width: 750px) {
      justify-content: center;

    }


  }
}
