
  <li class="slider">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="../../../../assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/golf-ball-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/apple-alt-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/futbol-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/book-reader-solid.svg" alt="reader">
    <img class="slider__img" src="./assets/nav/running-solid.svg" alt="reader">
  </li>
