<div class="wrapper">
  <div class="review">
    <div class="review__title">Reviews</div>
  </div>
  <div class="review__icons">
    <div (click)="showPrevious()">
      <img
        class="review__icons__left"
        src="../../assets/review-icons-1.svg"
        alt="icon"
      />
    </div>
    <div class="review__parent">
      <app-review
        [src]="'./assets/review-1.jpg'"
        [name]="'Med Habib '"
      ></app-review>
      <app-review
        [src]="'./assets/review-2.jpg'"
        [name]="'Sameh Ben Hmida'"
      ></app-review>
      <app-review
        [src]="'./assets/review-3.jpg'"
        [name]="'Marine Desbrun'"
      ></app-review>
    </div>
    <img
      (click)="showNext()"
      class="review__icons__right"
      src="../../assets/review-icons-2.svg"
      alt="icons"
    />
  </div>
</div>
