<div class="wrapper">
  <div class="welcome">
    <div class="welcome__left">
      <h2 class="welcome__left__title">We are</h2>
      <p class="welcome__left__text">
        A non-governmental organization (NGO) supporting local youth to become
        active and responsible citizens.
      </p>
      <img
        class="welcome__left__text__ellipse"
        src="../../assets/Ellipse 1916.svg"
        alt="ellipse"
      />
      <img
        class="welcome__left__points"
        src="../../assets/Group 276.svg"
        alt="points"
      />
      <img
        class="welcome__left__ellipse-big"
        src="../../assets/Ellipse 1915.svg"
        alt="points"
      />
      <img
        class="welcome__left__points-yellow"
        src="../../assets/Group 797.svg"
        alt="points"
      />
      <div class="welcome__left__blur"></div>
    </div>
    <div class="welcome__right">
      <img
        src="../../assets/Component 25 – 2.jpg"
        alt="youth organization"
        class="welcome__right__img"
      />
    </div>
  </div>
</div>
