
<form (ngSubmit)="onSubmit(form)" #form="ngForm"  class="container" style="margin-top: 200px;">
  <h3 style="text-align: center;margin-bottom: 30px;" >CREATE PROJECT</h3>

<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Project Title</label>
    <input ngModel name="title" required="true" type="text" class="form-control" id="exampleFormControlInput1" placeholder="title">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text part 1</label>
    <textarea required="true" ngModel name="text1" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Text part 2</label>
    <textarea required="true" required="true" ngModel name="text2" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Project picture</label>
    <input (change)="processImage(image)"  required="true"#image ngModel name="photo" type="file" class="form-control " id="exampleFormControlTextarea1" rows="3"/>
  </div>
  <button type="submit" [disabled]="!form.valid" class="btn btn-primary" >{{!loading? 'Add Project': 'Loading...'}}</button>
</form>
<h3 style="text-align: center;margin-bottom: 30px;" >DELETE PROJECT</h3>
<ul class="list-group container" style="margin-top: 20px; margin-bottom: 40px;">
  <ng-container *ngIf="projects" >
  <li *ngFor="let projectKey of projectKeys; let i =index" class="list-group-item flx">{{projectKey && projects? projects[projectKey]?.title: ''}}
    <button (click)="onDelete(projectKey)" type="button" class="btn btn-danger">DELETE</button>

  </li>
</ng-container>
</ul>
