<div class="wrapper">
  <h3 class="wrapper__title">Rustavi Wonderland</h3>
  <div class="video__container">
    <div class="video__description">
      <article class="video__description__text">
        <p class="video__description__text__p">
          A lot of emotions, happiness, love, caring, sharing everything by
          magic came together from all over the world in Rustavi Wonderland and
          made a beautiful day for local and international guests 🙂
        </p>
        <p class="video__description__text__p">
          Youth festival has been organized in Autumn 2019 in Rustavi, Georgia
          in cooperation of three international youth exchange and ESC projects
        </p>
        <p class="video__description__text__p">
          The festival was financed by the Erasmus+ program and implemented by
          the AEA..
        </p>
      </article>
    </div>
    <div class="video__parent video__parent--web">
      <iframe
        class="video__vid"
        height="538"
        src="https://www.youtube.com/embed/9-hGLN0PJls"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
<div class="video__parent video__parent--mob">
  <iframe
    class="video__vid"
    height="538"
    src="https://www.youtube.com/embed/9-hGLN0PJls"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
