<div class="wrapper">
  <h3 class="wrapper__title">Rustavi Wonderland</h3>
  <div class="video__container">
    <div class="video__description">
      <p>
        A lot of emotions, happiness, love, caring, sharing everything by magic
        came together from all over the world in Rustavi Wonderland and made a
        beautiful day for local and international guests 🙂 Youth festival has
        been organized in Autumn 2019 in Rustavi, Georgia in cooperation of
        three international youth exchange and ESC projects financed by the
        Erasmus+ program and implemented by the AEA.
      </p>
    </div>
    <div class="video__parent">
      <iframe
        class="video__vid"
        height="538"
        src="https://www.youtube.com/embed/9-hGLN0PJls"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
