.wrapper {
  padding: 0 100px;
  overflow: hidden;

  @media only screen and (max-width: 1050px){
    padding: 0 50px;

    width:100%;
  }

    
}
.hide {
  visibility: hidden;
  transition: all ease-in-out 4s;
  opacity: 0;

}

.show{
  visibility: visible;
  opacity: 1;
 
}